html, body { /* disable scrolling */
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
  -webkit-user-select: text;

  --text-color: #ffebb1;
  color: var(--text-color);
  background: url(img/bg-main.jpeg) no-repeat 95% 75%;
  background-size: cover;

  font-size: calc(11pt + 1.75vmin);
}

.text {
  width: 80%;
  max-width: 700px;
  max-height: 85%;

  padding-right: 0.8em;
  line-height: 1.3em;

  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

a {
  color: var(--text-color);
  text-decoration-thickness: 1px;
  text-underline-offset: 0.3ex;
}
