body {
  -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
  -webkit-user-select: text;

  color: #efcd89;
  background: linear-gradient(to bottom, #302d2c, #6e7172 50%);

  font-family: 'GaramondBT', serif, system-ui, -apple-system, -apple-system-font;
  font-size: calc(14pt + 2vmin);

  margin: 0;
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: 'GaramondBT';
  src: url(font/OriginalGaramondBT-Roman.otf);
  font-style: normal;
}

@font-face {
  font-family: 'GaramondBT';
  src: url(font/OriginalGaramondBT-Italic.otf);
  font-style: italic;
}

p {
  width: 80%;
  max-width: 800px;
}

a {
  color: #efcd89;
  font-weight: bold;
  text-decoration: none;
}
